/* game board table */

#board td {
  width: 75px;
  height: 75px;
  border-width: 4;
  border: solid 1px rgb(62, 62, 3);
}
/* pieces are div within game table cells: draw as colored circles */

.piece{
  /* TODO: make into circles */
  /* position: relative; */
  height: 75px;
  width: 75px;
  border-radius: 100%;
  animation-duration: 1s;
  animation-name: slideDown;
  box-shadow: 2px 2px 1px black;
  
}
@keyframes slideDown {
  from {
    position: absolute;
    top: 8px
  }
  to {
    top: 8px;
    top: 100px;
  }
}

#player{
  font-size: 1.5rem;
  color: red;
  display: flex;
  flex-direction: row;
}
/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
  border-radius: 100%;
}
